.page_name_header {
    position: absolute;
    top: -15px;
    background-color: #03f5e1;
    width: 150px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #858ba4;
}

.input_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    width: 100%;
    height: 50px;
    background-color: #4d5974;
    border-radius: 8px;
    padding: 0 10px;

    .vertical_line {
        width: 2px;
        height: 25px;
        background-color: #858ba4;
    }

    input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 1rem;
        outline: none;
        color: #858ba4;
    }
}

.remember_forgot_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .remember_me {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 5px;

        input {
            width: 15px;
            height: 15px;
        }

        label {
            color: #008d95;
        }
    }

    .forgot_password {
        color: #008d95;

        a {
            color: #008d95;
        }
    }
}

.login_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    button {
        width: 100%;
        height: 50px;
        background-color: #03f5e1;
        border: none;
        border-radius: 8px;
        color: #4d5974;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.register_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    a {
        color: #008d95;
    }
}

.login_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    a {
        color: #008d95;
    }
}
